<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>受講生一覧</title>
</head>
<body>
<h1>受講生一覧</h1>
<table border="1">
  <thead>
  <tr>
    <th>受講生ID</th>
    <th>名前</th>
    <th>ふりがな</th>
    <th>ニックネーム</th>
    <th>e-mail</th>
    <th>住所</th>
    <th>Phone</th>
    <th>年齢</th>
    <th>性別</th>
    <th>備考</th>
    <th>キャンセル</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="studentDetail : ${studentList}">
    <td th:text="${studentDetail.student.studentId}">1</td>
    <td>
      <a href="/studentList" th:href="@{/student/{studentId}(studentId=${studentDetail.student.studentId})}"
         th:text="${studentDetail.student.name}">EnamiKouji</a>
    </td>
    <td th:text="${studentDetail.student.ruby}">えなみ　こうじ</td>
    <td th:text="${studentDetail.student.nickname}">えなみ</td>
    <td th:text="${studentDetail.student.email}">enami@email.com</td>
    <td th:text="${studentDetail.student.address}">大阪府</td>
    <td th:text="${studentDetail.student.phone}">07012345678</td>
    <td th:text="${studentDetail.student.age}">37</td>
    <td th:text="${studentDetail.student.gender}">male</td>
    <td th:text="${studentDetail.student.remark}">会社員</td>
    <td>
      <input type="checkbox" th:checked="${studentDetail.student.deleted}" />
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>